<div id="<%= dom_id exam %>">
  <p>
    <strong>Title:</strong>
    <%= exam.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= exam.description %>
  </p>

  <p>
    <strong>Instructor:</strong>
    <%= exam.instructor_id %>
  </p>

  <p>
    <strong>Duration minutes:</strong>
    <%= exam.duration_minutes %>
  </p>

  <p>
    <strong>Max attempts:</strong>
    <%= exam.max_attempts %>
  </p>

</div>
