<p style="color: green"><%= notice %></p>

<%= render @admin_exam %>

<div>
  <%= link_to "Edit this exam", edit_admin_exam_path(@admin_exam) %> |
  <%= link_to "Back to exams", admin_exams_path %>

  <%= button_to "Destroy this exam", @admin_exam, method: :delete %>
</div>
